#
# This is an example file
#

# ============================================================
# Testing
# ============================================================

# Locally Running IP
TEST_IP=127.0.0.1:1234
TEST_USER=root
TEST_PSSWD=passw0rd
TEST_API=

# Start local container with
TEST_RUN_CMD="docker run -d -v ~/.config/jellyfin/config:/config -v ~/.config/jellyfin/cache:/cache"
